@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {
        @Html.AntiForgeryToken()
        <li class="nav-item dropdown nav-user">
            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/Content/documentation/img/login.png" alt="" class="user-avatar-md rounded-circle"></a>
            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                <div class="nav-user-info">
                    <h5 class="mb-0 text-white nav-user-name">@User.Identity.GetUserName()</h5>
                    <span class="status"></span><span class="ml-2">Connecté</span>
                </div>
                @*<a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>*@
                <a class="dropdown-item" href="javascript: document.getElementById('logoff').submit()"><i class="fas fa-power-off mr-2"></i>Se deconnecter</a>
            </div>
        </li>
    }

}
else
{
    <li class="nav-item dropdown nav-user">
        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/Content/documentation/img/login.png" alt="" class="user-avatar-md rounded-circle"></a>
        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
            <div class="nav-user-info">
                <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                <span class="status"></span><span class="ml-2">Available</span>
            </div>
            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
            <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
        </div>
    </li>
}
