<div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body">
        <center>
            <label class="text-danger">
                <span>
                    <i class="fa fa-accessible-icon"></i>
                    <strong>
                        Vous n'avez pas le droit d'afficher cette information
                    </strong>
                </span>
            </label>
        </center>
    </div>
</div>
