.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #555;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #09aacc;
}

    .inputfile-1:focus + label,
    .inputfile-1.has-focus + label,
    .inputfile-1 + label:hover {
        background-color: #08a;
    }


/* style 2 */

.inputfile-2 + label {
    color: #09aacc;
    border: 2px solid currentColor;
}

    .inputfile-2:focus + label,
    .inputfile-2.has-focus + label,
    .inputfile-2 + label:hover {
        color: #08a;
    }


/* style 3 */

.inputfile-3 + label {
    color: #09aacc;
}

    .inputfile-3:focus + label,
    .inputfile-3.has-focus + label,
    .inputfile-3 + label:hover {
        color: #08a;
    }



/* style 6 */

.inputfile-6 + label {
    color: #09aacc;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #0ff2;
    padding: 0;
}

    .inputfile-6:focus + label,
    .inputfile-6.has-focus + label,
    .inputfile-6 + label:hover {
        border-color: #722040;
    }

    .inputfile-6 + label span,
    .inputfile-6 + label strong {
        padding: 0.625rem 1.25rem;
        /* 10px 20px */
    }

    .inputfile-6 + label span {
        width: 200px;
        min-height: 2em;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: top;
    }

    .inputfile-6 + label strong {
        height: 100%;
        color: #f1e5e6;
        background-color: #d3394c;
        display: inline-block;
    }

    .inputfile-6:focus + label strong,
    .inputfile-6.has-focus + label strong,
    .inputfile-6 + label:hover strong {
        background-color: #08a;
    }

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}
