@{
    ViewBag.Title = "A propos";
}

<style>
    #btn-show-modal {
        background-color: #09aacc;
        color: white;
    }
</style>

<div class="dashboard-wrapper">
    <div class="dashboard-finance">
        <div class="container-fluid dashboard-content">
            <br />
            @using (Ajax.BeginForm("About",new AjaxOptions { HttpMethod = "Post", OnSuccess = "ajaxSuccess",OnFailure="ajaxError" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="name">Nom du module </label>

                    <input type="text" name="ModuleName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="name">Description du module</label>

                    <textarea name="ModuleDescription" class="form-control"></textarea>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-sm" id="buttonSubmitModule"><i class=" fas fa-plus">  </i> &nbsp;&nbsp;&nbsp; Ajouter</button>
                </div>
            }


        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
          function ajaxSuccess() {
                alert('this is ajaxSuccess');
            }
            function ajaxError() {
                alert('this is ajaxError');
            }

    </script>
}


