
@{
    Layout = "~/Views/Shared/_Xlayout.cshtml";
    ViewBag.Title = "AURS";
}

<div style="position:center">
    <center>
        <img src="~/Content/documentation/img/aurs.png" alt="AURS" style="max-height:50%;rotation:90deg" /><br />
        <img src="~/Content/documentation/img/aurs.png" alt="AURS" style="max-height:50%;rotation:90deg" /><br />
        <img src="~/Content/documentation/img/aurs.png" alt="AURS" style="max-height:50%;rotation:90deg" /><br />
        <img src="~/Content/documentation/img/aurs.png" alt="AURS" style="max-height:50%;rotation:90deg" /><br />
        <img src="~/Content/documentation/img/aurs.png" alt="AURS" style="max-height:50%;rotation:90deg" />
    </center>
</div>

