
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AURS";
}

<div style="position:center">
    <center>
        <img src="~/Content/documentation/img/aurs.png" alt="AURS" style="max-height:50%" />
    </center>
</div>

