
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AURS</title>
</head>
<body>
    @{
        ViewBag.Title = "AURS";
    }

    <div style="position:center">
        <center>
            <img src="~/Content/documentation/img/aurs.png" alt="AURS" style="max-height:50%" />
        </center>
    </div>
    

</body>
</html>
