@{
    ViewBag.Title = "A propos";
}
<div class="dashboard-wrapper">
    <div class="dashboard-finance">
        <div class="container-fluid dashboard-content">
            <br />
            <p id="paragraph">resultat</p>
            @*@using (Ajax.BeginForm("Aboutir", new AjaxOptions { HttpMethod = "Post", OnSuccess = "ajaxSuccess", OnFailure = "ajaxError" }))
            {
                @Html.AntiForgeryToken()
            }*@
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm" id="buttonContact"><i class=" fas fa-plus">  </i> &nbsp;&nbsp;&nbsp; Ajouter</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $("body").on("click", "#buttonContact", function () {
            $.ajax({
                type: "POST",
                url: "/Home/Aboutir",
                data: JSON.stringify(null),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $.each(data.mdles, function (i, item) {
                        $('#paragraph').append("   <br/>" +item.ModuleId + "   >>>  " + item.ModuleName   )
                    });
                },
                error:function () {
                    alert( "error.");
                }
            });
        });
    </script>
}


