
@{
    ViewBag.Title = "BadGateAway";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";
}

<div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body" id="">
        <center><h1><label class="text-danger" style="margin:10px">BadGateAway</label></h1></center>
    </div>
</div>
