@model AURS_Derogation.Models.MultiModels
@{
    ViewBag.Title = "Cloture";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";
}

<section>
    <nav>
        <ol class="cd-multi-steps text-bottom count">
            <li style="right: 2px;" class="visited"><a href="#0">Renseignements</a></li>
            <li style="right: 2px; top: 12px;" class="visited"><em>Siuation Géographique</em></li>
            <li style="right: 2px;" class="visited"><em>GED</em></li>
            <li style="right: 2px;" class="visited"><em>Programmation</em></li>
            <li style="right: 2px;" class="visited"><em>Avis</em></li>
            <li style="right: 2px;" class="visited"><em>Echanges</em></li>
            <li style="right: 2px;" class="visited"><em>Autorisation</em></li>
            <li style="right: 2px;" class="current"><em>Cloture</em></li>
        </ol>
    </nav>
</section>

<div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body" id="">
        <div class="row">
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">N° de Dossier :</label>
                <input type="text" class="form-control" value="@Model.DemDerg.Code_DemDerg" id="NumDossier" name="Code_DemDerg" disabled>
            </div>
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">Commune/Arrondissement :</label>
                @if (Model.DemDerg.Derog_Commune.Count() == 0)
                {<input type="text" class="form-control" value="Inconnue" id="communearrondissement" name="" disabled> }
                else
                {
                    <input type="text" class="form-control" value="@Model.DemDerg.Derog_Commune.FirstOrDefault().COMMUNES.nom_commun" id="communearrondissement" name="" disabled>
                }

            </div>
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">Référence foncière :</label>
                @if (Model.DemDerg.References_Foncieres == null)
                {<input type="text" id="dateNow" value="Inconnue" name="References_Foncieres" class="form-control" disabled> }
                else
                {<input type="text" id="dateNow" value="@Model.DemDerg.References_Foncieres.NomRF" name="References_Foncieres" class="form-control" disabled>}

            </div>
        </div>
    </div>
</div>

<div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body" id="">
        @if (Model.DemDerg.Cloture_DemDerg == null || !Model.DemDerg.Cloture_DemDerg.Value)
        {
            <form action="Cloture" method="post">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <p class="text-right">
                            <input type="hidden" value="@Model.DemDerg.Id_DemDerg" name="FK_DemDerg_AutDerg" />
                            <button class="btn btn-lg" type="submit" id="btnsend" value="1" name="valider" style="background-color:#09aacc; color:white">
                                Dossier finalisé  <i class="fa fa-paper-plane"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </form>
        }
        else
        {
            <center><h1><label class="text-danger" style="margin:10px"> Dossier finalisé</label></h1></center>
        }

    </div>
</div>