@model GestionnaireUtilisateurs.Models.MultiModeles
@{
    ViewBag.Title = "Cloture";
    Layout = "~/Views/Shared/_LayoutDerogation.cshtml";
}

<section>
    <nav>
        <ol class="cd-multi-steps text-bottom count">
            <li style="right: 2px;" class="visited"><a href="#0">Renseignements</a></li>
            <li style="right: 2px; top: 12px;" class="visited"><em>Siuation Géographique</em></li>
            <li style="right: 2px;" class="visited"><em>GED</em></li>
            <li style="right: 2px;" class="visited"><em>Programmation</em></li>
            <li style="right: 2px;" class="visited"><em>Avis</em></li>
            <li style="right: 2px;" class="visited"><em>Echanges</em></li>
            <li style="right: 2px;" class="visited"><em>Autorisation</em></li>
            <li style="right: 2px;" class="current"><em>Cloture</em></li>
        </ol>
    </nav>
</section>

@Html.Partial("WorkflowG", Model)

<div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body" id="">
        @if (Model.DemDerg.Cloture_DemDerg == null || !Model.DemDerg.Cloture_DemDerg.Value)
        {
            <form action="Cloture" method="post">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <p class="text-right">
                            <input type="hidden" value="@Model.DemDerg.Id_DemDerg" name="FK_DemDerg_AutDerg" />
                            <button class="btn btn-lg" type="submit" id="btnsend" value="1" name="valider" style="background-color:#09aacc; color:white">
                                Dossier finalisé  <i class="fa fa-paper-plane"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </form>
        }
        else
        {
            <center><h1><label class="text-danger" style="margin:10px"> Dossier finalisé</label></h1></center>
        }

    </div>
</div>