<div class="card" style="box-shadow: 0 17px 41px -21px black;border-top:5px solid #09aacc">
    <div class="card-body" id="">
        <div class="row" style="margin-bottom:10px">
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">N° de Dossier :</label>
                <input type="text" class="form-control" value="@Model.DemDerg.Code_DemDerg" disabled>
            </div>
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">Commune/Arrondissement :</label>
                @if (Model.DemDerg.COMMUNES_RSK == null)
                {<input type="text" class="form-control" value="Inconnue" name="" disabled> }
                else
                {<input type="text" class="form-control" value="@Model.DemDerg.COMMUNES_RSK.COMMUNE" name="" disabled>}
            </div>
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">Référence foncière :</label>
                @if (Model.DemDerg.References_Foncieres == null)
                {<input type="text" value="Inconnue" class="form-control" disabled> }
                else
                {<input type="text" value="@Model.DemDerg.References_Foncieres.NomRF" class="form-control" disabled>}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="inputText11" style="font-size:12px;">Date et heure de demande :</label>
                <input type="text" id="dateNow" value="@Model.DemDerg.Date_Arrivee_DemDerg" class="form-control" readonly="readonly">
            </div>
        </div>
    </div>
</div>
